.App {
  text-align: center;
}


.App {
  background-color: rgba(49, 27, 11, 0.911);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: rgb(197, 161, 113);
}

#instructions {
  max-width: 75vw;
  font-size: large;
  margin: auto;
}

#guess-button {
  background-color: black;
  color: wheat;
}

#guess-box {
  text-align: center;
}

#guess-count {
  font-size: large;
}
